/* Styles for the iframe container */
.iframe-container {
  position: relative;
  padding-bottom: 28.25%;
  /* (52) 16:9 Aspect Ratio */
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Styling the note-taking area */
.react-quill {
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
}


.editor-container {
  width: 100%;
  /* Fixed width for the container */
  height: 260px;
  /* Fixed height for the container */
  margin: 0 auto;
  /* Center the editor */
  border: 1px solid #ccc;
  /* Optional: Add a border for better visibility */
  overflow: hidden;
  /* Hide scrollbars outside of MonacoEditor container */
}

/* Default light theme */
body.light {
  background-color: #ffffff;
  color: #000000;
}

body.dark {
  background-color: #333333;
  color: #ffffff;
}

.controller {
 display: flex;
 justify-content: space-between;
}

/* Responsiveness */
@media (max-width: 767px) {
  /* Styles for mobile devices */
  /* This will apply to devices with a screen width of 767px or less */
  .controller{
    display: block;
  }
  .iframe-container{
    padding-bottom: 70.25%;
  }
  .btn {
    margin: 2px 5px;
  }
  .editor-container{
    height: 300px;
  }
}
@media (max-width: 1023px) and (orientation: landscape) {
  /* Styles for mobile devices in landscape orientation */
  /* This will apply to devices with a screen width of 1023px or less and landscape orientation */
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* Styles for tablets */
  /* This will apply to devices with a screen width between 768px and 1024px */
  .controller{
    display: block;
  }
  .iframe-container{
    padding-bottom: 60.25%;
  }
  .btn {
    margin: 2px 5px;
  }
  .editor-container{
    height: 500px;
  }

}
@media (min-width: 1024px) and (max-width: 1280px) {
  /* Styles for tablets in landscape mode */
  /* This will apply to devices with a screen width between 1024px and 1280px */
}

